<!DOCTYPE html>
<html>
<head>
  <title>Miri's Blog</title>
</head>
<body>
  <div>
    <h1><a href="">Miri's Blog</a></h1>
    <h2>h2 heading</h2><br>
    <h3>h3 heading</h3><br>
    <p>paragraph of text</p><br>
    <em>emphasize your text</em><br>
    <strong>strong text</strong><br>
    <a href="miriamrozenbaum.com">Miri's Website</a><br>
    <ul><li>first item</li><li>second item</li></ul><br>
  </div>

        <div>
          <h1><a href="/">Miri's Blog</a></h1>
        </div>

        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
</body>
</html>